/app copy 2.py
/app copy.py
/clip_storage
/images
/outputs
/overlays
/temp_filter_clip_2971_144.5s.txt
/temp_filter_clip_2972_128.0s.txt
/temp_render_clip_2971_144.5s.bat
/temp_render_clip_2972_128.0s.bat
/__pycache__
/dist
/build