/app copy 2.py
/app copy.py
/clip_storage
/images
/outputs
/overlays
/temp_filter_clip_*.txt
/temp_render_clip_*.bat
/__pycache__
/dist
/build
*.exe
*.bin
*.pt
*.pth
*.zip
*.tar.gz
*.7z
node_modules/
.vscode/
.env
*.log